@import "../variables/var";
@import "../variables/mixin";
@import "../variables/extend";


/* INDEX */

.contenedorcinco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 40px; /* Agregamos un espacio entre cada elemento */
}
    
.contenedorcinco figure {
    position:relative;
    height: 300px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    margin: 20px;
    transition: all 0.4s ease-out; /* Movemos la transición al contenedor para simplificar */
}
    
.contenedorcinco figure img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    will-change: transform;
}
    
.contenedorcinco figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out, margin 0.4s ease-out; /* Agrupamos las transiciones */
}
    
.contenedorcinco figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    margin-top: 70px; /* Movemos este estilo aquí para la transición */
    margin-bottom: 15px;
}
    
.contenedorcinco figure:hover > img {
    transform: scale(1.3);
}
    
.contenedorcinco figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    margin-top: 30px;
    transition: margin 0.4s ease-out; /* Agregamos transición para el margen */
}
    
.contenedorcinco figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.footer-container {
	padding: 40px 0;
	background-color: $color-principal;
}
.footer-icons {
	color: $color-icons;
	text-align: center;
	a {
		color: $color-icons;
		width: 40px;
		height: 40px;
		margin: 1rem;
		opacity: 0.8;
		line-height: 38px;
		font-size: 1.4rem;
		@include inline-block;
		border-radius: 50%;
		border: 1.4px solid #ccc;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
}
.footer-list {
	padding: 0;
	margin-top: 0;
	font-size: 18px;
	line-height: 1.6;
	list-style: none;
	margin-bottom: 0;
	text-align: center;
	li {
		padding: 0 15px;
		display: inline-block;
	}
	a {
		opacity: 0.8;
		color: $color-icons;
		text-decoration: none;
		&:hover {
			opacity: 1;
		}
	}
}
.copyright {
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
	color: rgb(203, 199, 199);
	cursor: pointer;
}

